.container {

    border: 1px solid gray;

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

    border-radius: 20px;

    position: absolute;

    top: 55%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 450px;

    height: 400px;

}

boady{
    background-color: gray;
}
.keys {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;

    padding: 10px;

    margin:auto;

}

.button {

    height: 60px;

    padding: 5px;

    background-color:gray;

    border-radius: 3px;

    border: 1px solid #c4c4c4;

    background-color: transparent;

    font-size: 2rem;

    color: #333;

   

   
    
}

.button:hover {

    background-color: blue;

}
.operator {

    color: black;

    background-color: green;

}
.operator:hover{
    background-color: #b0353a;
}


.clear {

    background-color: #f0595f;

    border-color: #b0353a;

    color: black;

    width: 80px;

    height: 30px;  

}

.clear:hover {

    background-color: #b0f173;

}
.del{
    background-color: black;

    border-color: #b0353a;

    color: white;

    width: 80px;

    height: 30px;  

}
.del:hover {

    background-color: yellowgreen;
}

.equal-sign {

    background-color: orange;

    border-color: black;

    color: black;

}

.equal-sign:hover {

    background-color: red;

}
.screen{

    background-color:rgb(231, 171, 174);

    justify-content: left;

    color: black;

    font-size: medium;

    width: 50%;

    height: 30%;

    cursor: default;

    padding: 10px; 

    padding-left: 40%;

    margin: auto;

    margin-bottom: 10px;

}

    

